{% extends 'food/base.html' %}
{% load form_tags %}

{% block body %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card shadow">
                <div class="card-header text-center bg-primary text-white">
                    <h3>Create New Account</h3>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {% for field in form %}
                        <!-- Custom styling for form fields -->
                        <div class="mb-2">
                            {{ field.name }} 
                            <br>
                            {{ field }}  
                        </div>
                        {% endfor %}
                        <button type="submit" class="btn btn-primary w-100">SignUp</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}




